In [5]:
2+2

4

In [6]:
5**2

25

In [7]:
5%2

1

In [8]:
str1 = "hele hölö"

In [9]:
print(str1)

hele hölö

In [10]:
x = "SQL"

In [11]:
print("st {} tutorial".format(x))

st SQL tutorial

In [12]:
len(x)

3

In [13]:
str1

'hele hölö'

In [14]:
str1.replace("hele", "SQL")

'SQL hölö'

In [15]:
x[1]

'Q'

In [17]:
x[1:2]

'Q'

In [18]:
x[-1]

'L'

In [19]:
str1[-1]

'ö'

Lists

In [20]:
l1 = [1, 2, 3, 4, 5]

In [21]:
type(l1)

list

In [22]:
l1[1:3]

[2, 3]

In [23]:
l1[::2]

[1, 3, 5]

In [24]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

Tuples

In [25]:
t1 = (1, 2, 3, 4, 5)

In [26]:
t1[0] = 5

TypeError: 'tuple' object does not support item assignment

Dictionary

In [27]:
d1 = {"a": 1, 
      "b": 2, 
      "c": 3}

In [28]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [30]:
d1["a"]

1

In [31]:
d1[1]

KeyError: 1